body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.container {
    
}

.monitor {
    text-align: center;
    padding: 100px 100px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 50px;
    border-radius: 4%;
    box-shadow: 0 0 0 20px rgb(44, 146, 241);
}

.keyboard {
    
    padding-top: 25px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 40px;
    max-width: 500px;
    background-color: #ACADAE;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 12% 12%;
    box-shadow: 0 0 0 10px rgb(103, 100, 100);  
}

button {
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-weight: bold;
    width: 125px;
    margin-inline: 15px;
    margin-block-start: 15px;
    margin-bottom: 5px;
    border-radius: 30px;
    display: inline-block;

    
}
*#increment-btn {
    background: #B41D5A;
    box-shadow: gray 2px 2px;
}

#save-btn {
    background: #52A322;
    box-shadow: gray 2px 2px;
}

#reset-btn {
    background: #2C92F1;
    box-shadow: gray 2px 2px;
}

#increment-btn:hover,
#increment-btn:focus {
   background: #c65d87;
   color: black;
}

#save-btn:hover,
#save-btn:focus {
    background: #8BB96F;
    color: 3a3a3b;
}

#reset-btn:hover,
#reset-btn:focus {
    background: #81BBF1;
    color: 3a3a3b;
}